# 03 Titanic

![Titanic](https://pmcvariety.files.wordpress.com/2017/04/titanic.jpg?w=1000&h=563&crop=1)

In [68]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [69]:
titanic = pd.read_csv("titanic.txt", sep='\t')
titanic.head()

,Name,Survived,Boarded,Class,MWC,Age,Adut_or_Chld,Sex,Paid,Ticket_No,Boat_or_Body,Job,Class_Dept,Class_Full
0,"ABBING, Mr Anthony",Dead,Southampton,3,Man,42.0,Adult,Male,7.55,5547,NaN,Blacksmith,3rd Class Passenger,3
1,"ABBOTT, Mr Ernest Owen",Dead,Southampton,Crew,Man,21.0,Adult,Male,NaN,NaN,NaN,Lounge Pantry Steward,Victualling Crew,V
2,"ABBOTT, Mr Eugene Joseph",Dead,Southampton,3,Child,14.0,Child,Male,20.25,CA2673,NaN,Scholar,3rd Class Passenger,3
3,"ABBOTT, Mr Rossmore Edward",Dead,Southampton,3,Man,16.0,Adult,Male,20.25,CA2673,[190],Jeweller,3rd Class Passenger,3
4,"ABBOTT, Mrs Rhoda Mary 'Rosa'",Alive,Southampton,3,Woman,39.0,Adult,Female,20.25,CA2673,A,NaN,3rd Class Passenger,3