In [1]:
import numpy as np
import pandas as pd
import names

# Fake exam results

Generate some random names

In [2]:
names.get_full_name()

'Deborah Paul'

In [3]:
[names.get_full_name() for _ in range(5)]

['Lewis Gary', 'Kenneth Sutter', 'Miguel Woodford', 'Lori Lira', 'Eric Osorio']

Make some (convincing) random numbers

In [4]:
np.random.normal()

0.276571329173993

In [5]:
np.random.normal(loc=50, scale=10)

35.01357179905572

In [6]:
[np.random.normal(loc=50, scale=10) for _ in range(5)]

[47.683972600188035,
 45.608327098954994,
 53.35534201784216,
 27.721927141435962,
 60.39716286476082]

In [13]:
[int(np.random.normal(loc=50, scale=10)) for _ in range(5)]

[39, 33, 44, 54, 58]

Build a list of names, some maths exam results and some physics exam results

In [15]:
n = 20
student = [names.get_full_name() for _ in range(n)]
maths = [int(np.random.normal(loc=50, scale=10)) for _ in range(n)]
physics = [m - int(np.random.normal(loc=10, scale=5)) for m in maths]
results = pd.DataFrame(data={
    "Student": student,
    "Maths": maths,
    "Physics": physics
})
results

            Student  Maths  Physics
0   Veronica Dewick     60       51
1         Kay White     67       58
2     Billie Martin     62       58
3     Elmer Farrell     45       33
4     Wilma Lindsay     42       24
5      Charles Puga     49       43
6      Cheryl Davis     39       32
7      James Mccary     55       43
8        Gary Oneal     52       42
9      Sarah Weyant     66       59
10    Charles Jones     50       38
11     Jessica King     45       32
12        Raul Moen     53       47
13    Rosario Smith     58       54
14  Richard Sanches     58       47
15    Diane Johnson     41       33
16    Mary Williams     48       48
17    Staci Mcelroy     72       61
18   Monica Heavner     23       15
19  Blanche Lacoste     52       37

Indexing

In [17]:
results.loc[5]

Student    Charles Puga
Maths                49
Physics              43
Name: 5, dtype: object

In [16]:
results.loc[5, "Maths"]

49

In [ ]:
results.iloc[5]

In [18]:
results.iloc[5, "Maths"]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [19]:
results.loc[3:8]

         Student  Maths  Physics
3  Elmer Farrell     45       33
4  Wilma Lindsay     42       24
5   Charles Puga     49       43
6   Cheryl Davis     39       32
7   James Mccary     55       43
8     Gary Oneal     52       42

In [20]:
results.iloc[3:8]

         Student  Maths  Physics
3  Elmer Farrell     45       33
4  Wilma Lindsay     42       24
5   Charles Puga     49       43
6   Cheryl Davis     39       32
7   James Mccary     55       43

In [22]:
results.iloc[3:8,0:2]

         Student  Maths
3  Elmer Farrell     45
4  Wilma Lindsay     42
5   Charles Puga     49
6   Cheryl Davis     39
7   James Mccary     55

Set the obvious index

In [ ]:
resultsV2 = results.set_index(results.Student)
resultsV2

Drop the old column if you like

In [ ]:
resultsV2.drop(columns="Student")

In [ ]:
resultsV2

In [ ]:
resultsV3 = resultsV2.drop(columns="Student")
resultsV3

Locating by index

In [ ]:
resultsV3.loc["Clarice Fairchild"]

In [ ]:
resultsV3.loc["Carlos Burns":"John Rivera"]

The `filter` function

In [ ]:
resultsV3.filter(like='S', axis=0)

In [ ]:
resultsV3.filter(regex='^S', axis=0)

The `query` function

In [ ]:
resultsV3.query("Student > 'J'")

In [ ]:
resultsV3.query("Maths < Physics")

In [ ]:
resultsV3.index.str.split(" ", expand=True)

In [ ]:
resultsV4 = resultsV3.set_index(resultsV3.index.str.split(" ", expand=True))
resultsV4

In [ ]:
resultsV4.sort_index(level=0)

In [ ]:
resultsV4.sort_index(level=1)

In [ ]:
resultsV5 = resultsV4.sort_index(level=1)

In [ ]:
resultsV5

In [ ]:
resultsV6 = resultsV5.swaplevel()
resultsV6

In [ ]:
resultsV6.loc["P":"W"]

In [ ]:
resultsV6.sort_values(by="Maths")[:3]

In [ ]:
resultsV6["Best"] = np.where(resultsV6.Maths > resultsV6.Physics, "Maths", "Physics")
resultsV6

In [ ]:
resultsV6["Combined"] = resultsV6["Maths"]+resultsV6["Physics"]
resultsV6.sort_values(by="Combined")

In [ ]:
pd.cut(resultsV6.Combined, bins=[0,100,110,120,150,1000], labels=["Fail","Third","2:2","2:1","First"])

In [ ]:
resultsV6["Class"] = pd.cut(resultsV6.Combined, bins=[0,100,110,120,130,1000], labels=["Fail","Third","2:2","2:1","First"])

In [ ]:
resultsV6

In [ ]:
import seaborn as sns

In [ ]:
resultsV6.Class.cat.categories

In [ ]:
sns.scatterplot(data=resultsV6, x="Maths", y="Physics", hue="Class", style="Best")

In [ ]:
ax = sns.scatterplot(data=resultsV6, x="Maths", y="Physics", hue="Class", style="Best")
for surname in resultsV6.index:
    ax.annotate(surname[1], (resultsV6.loc[surname, "Maths"], resultsV6.loc[surname, "Physics"]))

In [ ]:
ax = sns.scatterplot(data=resultsV6, x="Maths", y="Physics", hue="Class", style="Best")
for surname in resultsV6.index:
    ax.text(resultsV6.loc[surname, "Maths"], resultsV6.loc[surname, "Physics"], surname[1])

In [ ]:
ax = sns.scatterplot(data=resultsV6, x="Maths", y="Physics", hue="Class", style="Best")
for surname in resultsV6.index:
    ax.text(resultsV6.loc[surname, "Maths"], resultsV6.loc[surname, "Physics"], surname[1], rotation=30, va="center")

In [ ]:
fg = sns.catplot(data=resultsV6, x="Class", kind="count")
ax = fg.ax
for x,bar in enumerate(ax.patches):
    ax.annotate(bar.get_height(),(x,bar.get_height()+0.2))